:root {
  --primary: #4f46e5;
  --primary-dark: #3730a3;
  --bg: #00bbff;
  --card: #ffffff;
  --text: #111827;
  --muted: #6b7280;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  text-align: center;
  padding: 20px;
  background: var(--primary);
  color: white;
}

h1 { margin: 0; font-size: 24px; }
.subtitle { margin: 5px 0 0; font-size: 14px; }

main { padding: 20px; max-width: 800px; margin: auto; }

.card {
  background: var(--card);
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 10px 4px rgba(0,0,0,0.1);
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
}

.game {
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.2s;
  padding: 8px;
}

.game img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.game:hover {
  border-color: var(--primary);
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #000000;
}

button.primary {
  background: var(--primary);
  color: rgb(0, 0, 0);
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button.primary:hover {
  background: var(--primary-dark);
}

.hidden { display: none; }

footer {
  font-family: ;
  text-align: center;
  padding: 16px;
  font-size: 12px;
  color: var(--muted);
}
/* Efek diamond jatuh */
#diamond-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* biar ga ganggu klik */
  overflow: hidden;
  z-index: 1000;
}

.diamond {
  position: absolute;
  top: -50px;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
